/* Theme Color define here*/
:root {
  /* Color of background */
  --header: #33587d;
  --header-color: #bcdeff;
  --header-nav-bgcolor: #000000;
  --main:#33587d;
  --section: #ffffff;
  --section-shadow:rgb(173, 216, 230);
  --block: #ffffff;
  --block-shadow:rgb(173, 216, 230);
  --footer: #000000;
  --footer-text:#ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000000;
}

a:link, a:visited{
  text-decoration: none;
  color:inherit;
}

ul{
  list-style: none;
}

h1, h2{
  text-align: center;
}

hr{
  margin: 10px 0;
}

span.weak {
  font-weight: lighter;
}

/** header **/
.header{
  min-height: 10vh;
  background-color: var(--header);
  text-align:center;
  color:var(--header-color);
}

.top-header{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#top-header__title{
  font-size: 40px;
  padding-bottom: 10px;
}

#top-header__subtitle{
  font-size: 15px;
}

.bot-header{
  background-color: var(--header-nav-bgcolor);
}

.bot-header__content{
  margin: 0 auto;
  max-width: 1200px;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item{
  padding: 13px 20px;
}


.nav-item:hover{
  background-color:grey;
}

/****** Footer *********/

.footer{
  text-align:center;
  background-color:var(--footer);
  color: var(--footer-text);
  padding:40px 0;
  /* To fix the footer is not at end */
  min-height: 10vh;
}

#footer-title{
  font-size: 20px;
}

.icon-bar{
  padding-top: 20px;
}

/**** main *****/
.main{
  padding: 30px 10px 10px 10px;
  background-color: var(--main);
  min-height: 75vh;
  display: flex;
}

.right{
  flex:70%;
  padding: 10px;
}

.left{
  flex:30%;
  padding: 10px;
}



.wrapper-left{
  margin: auto;
  width: 100%;
  max-width: 400px;
}

.wrapper-right{
  margin: auto;
  width: 100%;
  max-width: 1200px;
}


.left__block{
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: var(--block);
  padding:20px;
  border: 1px solid black;
  box-shadow: 5px 5px 7px var(--block-shadow);
}

/***** right section template *******/
 .section{
  border-radius: 5px;
  background-color: var(--section);
  padding:50px;
  border: 1px solid black;
  box-shadow: 6px 6px 7px var(--section-shadow);
  margin-bottom: 40px;
}

.project-tile{
  width: 100%;
}

#section-project{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:10px;
}

.section-time{
  margin: 6px 0;
}

.projectImg{
  transition: all 0.3s ease;
  max-width: 5px;
}

.projectImg:hover{
  opacity: 0.5;
}

#section-project img{
  width: 100%;
}

#post-tile{
  margin: auto;
  width: 80%;
}

#post-tile img{
  width: 100%;
}


/* publication section */
#pub-list li{
  margin-bottom: 5px;
}


.fakeimg {
  color:yellow;
  background-color:gray;
  width:100%;
  text-align:center;
  align-content:center;
  height: 120px;
}


.fakeimg .fa{
  font-size: 50px;
}


.icon-bar{
  text-align: center;
}


.icon-bar a {
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
}

.icon-bar a:hover {
  background-color: #787878;
}


.linkedin {
  background: #007bb5;
  color: white;
}

.github {
  background: #343434;
  color: white;
}

.photo{
  text-align: center;
}

.photo img {
  width:40%;
  border-radius:80px;
  opacity: 0.8;
}

.section-time .fa{
  margin-right: 8px;
}


.icon-section .fa{
  margin: 8px 8px 16px 0;
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .left {
    display: none;
  }

  #section-project{
    grid-template-columns: 1fr 1fr;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  #section-project{
    grid-template-columns: auto;
  }
}





